.blogNav {
  height: 8vh;
  background-color: #7ac88b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  flex-wrap: nowrap;
  width: 70vw;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 8vh;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin-right: 2rem;
  padding: 6px 16px;
  border-radius: 5px;
}

.nav-item span {
  transform: rotate(90deg);
  font-size: 1rem;
  font-weight: 900;
  margin-left: -40px;
}

.nav-item a:hover {
  background-color: #a7deb1;
  color: black;
}

.card-container {
  width: 95%;
  height: auto; /*380px
  /* background-color: red; */
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid grey; */
  box-shadow: 0 2px 5px #a7deb1;
  cursor: pointer;
  border-radius: 30px;
}

.card-container:hover {
  background-color: #7ac88b;
  box-shadow: 0px 15px 30px 5px #7ac88b;
}

.card-container .img-container {
  width: 100%;
  height: 15vw;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card-container .text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container .top {
  width: 90%;
  height: 2rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-container .top span {
  margin-top: 0.5rem;
}

.text-container .bottom {
  width: 90%;
  /* background-color: yellow; */
}

.bottom h4 {
  font-size: 1.1rem;
  margin-top: 8px;
  font-family: sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-bottom: -12px;
}

#read-btn:hover {
  background-color: #7ac88b;
  border-radius: 50px;
  color: white !important;
}

/* Pagination style */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pagination .previous.disabled a,
.pagination .next.disabled a {
  border-radius: 50px;
  margin: 0 0.9rem;
  /* background-color: green; */
  border: 2px solid #90d29d;
  color: #222222;
  font-weight: 500;
}

.pagination .previous.disabled a:hover,
.pagination .next.disabled a:hover {
  background-color: #90d29d;
}

.pagination .active a {
  border-radius: 50%;
  padding: 6px 14px;
}

/* nav li {   
  border-radius: 50%;
}  */

.pagination {
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  outline: none;
  padding-bottom: 26px;
  margin-bottom: 0;
}

/* #d5eedb */

.pagination .disabled > a {
  color: #e7f7e9 !important;
  background-color: #e7f7e9 !important;
  border-color: #e7f7e9 !important;
  cursor: default !important;
}

.pagination > .active > a {
  background-color: #90d29d;
  border-color: #90d29d;
  color: black;
  font-weight: 600;
}
.pagination > li > a {
  border: 1px solid #90d29d;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #90d29d;
  border-color: #90d29d;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #90d29d;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

/* responsive style */

@media (max-width: 1030px) {
  .card-container {
    width: 100%;
  }
}

@media (max-width: 952px) {
  #nav-items {
    width: 85%;
  }
}

@media (max-width: 800px) {
  #nav-items {
    width: 100%;
  }

  #nav-item a {
    font-size: 1.2rem;
    margin-left: -40px;
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .card-container {
    width: 300px;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 450px) {
  #nav-item a {
    font-size: 1rem;
  }

  .card-container {
    margin-left: 55px;
  }
}
