.footer-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  color: #fff;
}

.footer-logo .logo-cont,
.footer-logo img {
  width: 250px;
  height: 250px;
}

.footer-logo .title {
  font-size: 3.5rem;
  margin-left: -4px;
  font-weight: 900;
}

.footer-cont ul {
  width: 10%;
  font-size: 1.2rem;
  list-style: none;
  color: #fff;
  margin-right: 55px;
}

.footer-cont ul li {
  padding: 6px 16px;
  width: 100%;
}

.footer-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41%;
  color: #fff;
}

.footer-logo .logo-cont,
.footer-logo img {
  width: 250px;
  height: 250px;
}

.footer-logo .title {
  font-size: 3.5rem;
  margin-left: -4px;
  font-weight: 900;
}

.footer-cont ul {
  width: 10%;
  font-size: 1.2rem;
  list-style: none;
  color: #fff;
  margin-right: 55px;
}

.footer-cont ul li {
  padding: 6px 16px;
  width: 100%;
}

@media (max-width: 1288px) {
  .footer-cont ul {
    width: 15%;
  }
}

@media only screen and (max-width: 864px) {
  .footer-cont ul {
    padding: 8px 16px;
    margin-left: 10px;
    width: auto;
  }
  .footer-cont {
    padding: 1rem;
    display: grid;

    grid-template-areas:
      "hd hd"
      "sd main";
  }

  .footer-logo {
    width: 100%;
    grid-area: hd;
  }

  .footer-logo .logo-cont,
  .footer-logo img {
    width: 150px;
    height: 150px;
  }

  .footer-logo .title {
    font-size: 2.8rem;
    margin: 0;
  }

  .footer-cont > ul:first-child {
    grid-area: sd;
    margin: 0;
    padding: 0 !important;
    display: flex;
  }

  .footer-cont > ul:nth-child(2) {
    grid-area: main;
    margin: 0;
    padding: 0;
  }

  .footer-cont ul li {
    padding: 0;
    margin-bottom: 3px;
  }
}

@media only screen and (max-width: 450px) {
  .footer-logo .logo-cont,
  .footer-logo img {
    width: 100px !important;
    height: 100px !important;
  }

  .footer-logo .title {
    font-size: 2.5rem !important;
    margin: 0;
  }
}
