/* @media (max-width: 512px) {
  #header-logo {
    margin-left: -28px;
  }
}

@media (max-width: 450px) {
  #home-btn,
  #blog-btn,
  #about-btn,
  #contact-btn {
    font-size: 1rem;
    margin-left: -10px;
    margin-right: 15px;
  }

  #home-btn {
    margin-right: 5px;
  }

  #contact-btn {
    margin-left: 5px;
    margin-right: 5px;
  }

  .head-btn:hover {
    padding: 0 5px;
  }
} */
