html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  /* font-size: 14px; */
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-card {
  width: 200px;
  height: 200px;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.review-card .card {
  width: 100%;
  height: 100%;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.review-card .card .name-pic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
}

.review-card .card .name-pic .img {
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 50%;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-card .card .name-pic .img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
