@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@100;300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.head-btn:hover {
  background: white !important;
  color: black;
  padding: 0px 10px;
}

.card-backg:hover {
  background-color: rgb(75, 129, 75) !important;
}
